.App {
  text-align: center;
  background-color: cornflowerblue;
  font-size: 12px;
  color: azure;
  height: 100%;
  font-family: monospace;
}

.Header {
  color: #3151ff;
}

.Logo {
  display: inline-block;
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  margin-left: 8px;
  margin-right: 8px;
}

.Tabs {
  margin-top: 30px;
}

.Basic {
  background-color: #112431;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.Tab {
  height: 100vh;
}

.Input {
  margin-left: 2px;
  margin-right: 2px;
  width: 150px;
  text-align: center;
}

.Button {
  color: #3151ff;
  margin-left: 2px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
